<h1>Prova de conceito {{titulo}}</h1>
<p>Alguns resource usados para construir esta demo pode ser encontrado em:</p>
<ul>
	<li>https://github.com/webpack/webpack-with-common-libs/blob/master/gulpfile.js</li>
	<li>http://angular-tips.com/blog/2015/06/using-angular-1-dot-x-with-es6-and-webpack/</li>
	<li>https://github.com/petehunt/webpack-howto</li>
	<li>https://github.com/bestander/html-minify-loader</li>
	<li>http://webpack.github.io/docs/using-loaders.html</li>
	<li>https://webpack.github.io/docs/list-of-loaders.html</li>
	<li>http://michalzalecki.com/lazy-load-angularjs-with-webpack/</li>
	<li>http://www.knowstack.com/setting-up-your-local-dev-environment-with-gulp-and-webpack/</li>
	<li>https://github.com/shama/webpack-stream/issues/18</li>
	<li>http://monicalent.com/blog/2015/08/03/converting-angular-js-app-from-require-js-to-webpack/</li>
	<li>https://microtroll.github.io/js/webpack/angular/2015/04/27/webpack-plus-angular.html</li>
	<li>http://christianalfoni.github.io/javascript/2014/12/13/did-you-know-webpack-and-react-is-awesome.html#lazyload</li>
</ul>
<p>Provocar uma navegação para um <a href="sassa">link quebrado</a></p>