<h1>Prova de conceito {{titulo}}</h1>

<p>Provocar uma navegação para um <a href="/sassa">link quebrado</a> ou <a href="/about">acesse o about</a>.</p>

<top-trends></top-trends>

<data></data>

<p>Com este teste queremos carregar arquivos .js por demanda, minificar todos .js e simplificar o desenvolvimento e principalmente a manutenção e escalabilidade da aplicação.</p>
<p>Alguns resource usados para construir esta demo pode ser encontrado em:</p>



<ul>
	<li>https://github.com/webpack/webpack-with-common-libs/blob/master/gulpfile.js</li>
	<li>http://angular-tips.com/blog/2015/06/using-angular-1-dot-x-with-es6-and-webpack/</li>
	<li>https://github.com/petehunt/webpack-howto</li>
	<li>https://github.com/bestander/html-minify-loader</li>
	<li>http://webpack.github.io/docs/using-loaders.html</li>
	<li>https://webpack.github.io/docs/list-of-loaders.html</li>
	<li>http://michalzalecki.com/lazy-load-angularjs-with-webpack/</li>
	<li>http://www.knowstack.com/setting-up-your-local-dev-environment-with-gulp-and-webpack/</li>
	<li>https://github.com/shama/webpack-stream/issues/18</li>
	<li>http://monicalent.com/blog/2015/08/03/converting-angular-js-app-from-require-js-to-webpack/</li>
	<li>https://microtroll.github.io/js/webpack/angular/2015/04/27/webpack-plus-angular.html</li>
	<li>http://christianalfoni.github.io/javascript/2014/12/13/did-you-know-webpack-and-react-is-awesome.html#lazyload</li>
	<li>http://www.knowstack.com/setting-up-your-local-dev-environment-with-gulp-and-webpack/</li>
	<li>http://alexandrubadiu.ro/talks/angular_webpack/#/</li>
	<li>https://github.com/ay13/webpack-angular-oclazyload/blob/master/app/index.js</li>
	<li>https://gist.github.com/plestik/8b20e9d593e1806a098b</li>
	<li>https://oclazyload.readme.io/docs/faq</li>
	<li>http://stackoverflow.com/questions/27752037/dynamic-ui-router-with-oclazyload-using-multiple-modules-in-resolve</li>
	<li>http://scottaddie.com/2015/10/07/harnessing-webpack-with-visual-studio-code/</li>
	<li>http://dontkry.com/posts/code/single-page-modules-with-webpack.html</li>
	<li>Tentar usar https://github.com/DevExpress/bower-devextreme</li>
	<li>Olha isto CSS: https://github.com/snapwich/lazy-angular-demo/blob/master/lib/child1/child1.js#L22</li>
</ul>
