<style>
	.dx-field-label { text-align: right}
</style>

<div class="box" style="background:#eee" dx-responsive-box="{
        rows: [
            { ratio: 1 },
        ],
        cols: [
            { ratio: 1 },
        ]
    }">
	
	<div class="content" data-options="dxItem: {
		location: [{ 
			row: 0, 
			col: 0
		}, {row: 0, col: 0}]
	}">

			<p><strong>Bem-vindo</strong>, por favor, entre com sua conta.</p>
            <div class="dx-fieldset">
				<div class="dx-fieldset-header">Login</div>
                <div class="dx-field">
                    <div class="dx-field-label">E-mail</div>
                    <div class="dx-field-value">
                        <div dx-text-box="{ placeholder: 'Login' }"></div>
                    </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Senha</div>
                    <div class="dx-field-value">
                        <div dx-text-box="{ mode: 'password', placeholder: 'Password' }"></div>
                    </div>
                </div>
				<div class="dx-field">
					<div class="dx-field-value">
						<div id="checked" dx-check-box="{text:'Manter Conectado'}"></div>
					</div>
				</div>
				<div id="default" dx-button="{text: 'Entrar', type: 'default'}"></div>
				<div id="default" dx-button="{text: 'Sair', type: 'normal'}"></div>

				<div class="dx-field">
					<div class="dx-field-value" style="text-align:right">
						<p><a href="/">Esqueceu a senha?</a></p>
					</div>
				</div>
            </div>


	</div>
	
	
</div>

