					<p><strong>Bem-vindo</strong>, por favor, entre com sua conta.</p>
					<div class="dx-fieldset">
						<div class="dx-fieldset-header">Login:</div>
						<div class="dx-field">
							<div class="dx-field-label">E-mail:</div>
							<div class="dx-field-value">
								<div dx-text-box="{ placeholder: 'Usuário' }"></div>
							</div>
						</div>
						<div class="dx-field">
							<div class="dx-field-label">Senha</div>
							<div class="dx-field-value">
								<div dx-text-box="{ mode: 'password', placeholder: 'Senha' }"></div>
							</div>
						</div>
						<div class="dx-field">
							<div class="dx-field-value">
								<div id="checked" dx-check-box="{text:'Manter conectado'}"></div>
							</div>
						</div>
						<div class="dx-field" style="text-align:right">
							<div id="default" dx-button="{text: 'Entrar', type: 'default'}"></div>
							<div id="default" dx-button="{text: 'Sair', type: 'normal'}"></div>
						</div>
		
		
						<div class="dx-field">
							<div class="dx-field-value" style="text-align:right">
								<p><a href="/">Esqueceu a senha?</a></p>
							</div>
						</div>
					</div>