<div class="box" dx-responsive-box="{
        rows: [
            { ratio: 1 },
            { ratio: 2 },
            { ratio: 2, screen: 'sm md' },
            { ratio: 1 }
        ],
        cols: [
            { ratio: 1 },
            { ratio: 2, screen: 'lg' },
            { ratio: 1 }
        ],
        height: 400
    }">
	<div class="header" data-options="dxItem: {
		location: [{ 
			row: 0, 
			col: 0, 
			colspan: 3, 
			screen: 'lg'
		}, { 
			row: 0, 
			col: 0, 
			colspan: 2, 
			screen: 'xs sm md'
		}]
	}">
		<p>aaa</p>
	</div>
	<div class="content" data-options="dxItem: {
		location: [{ 
			row: 1, 
			col: 1, 
			screen: 'lg' 
		}, { 
			row: 1, 
			col: 0, 
			colspan: 2, 
			screen: 'xs sm md' 
		}]
	}">
			<p><strong>Bem-vindo</strong>, por favor, entre com sua conta.</p>
            <div class="dx-fieldset">
				<div class="dx-fieldset-header">Login</div>
                <div class="dx-field">
                    <div class="dx-field-label">E-mail</div>
                    <div class="dx-field-value">
                        <div dx-text-box="{ placeholder: 'Login' }"></div>
                    </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Senha</div>
                    <div class="dx-field-value">
                        <div dx-text-box="{ mode: 'password', placeholder: 'Password' }"></div>
                    </div>
                </div>
				<div class="dx-field">
					<div class="dx-field-value">
						<div id="checked" dx-check-box="{text:'Manter Conectado'}"></div>
					</div>
				</div>
				<div id="default" dx-button="{text: 'Entrar', type: 'default'}"></div>
				<div id="default" dx-button="{text: 'Sair', type: 'normal'}"></div>

				<div class="dx-field">
					<div class="dx-field-value" style="text-align:right">
						<p><a href="/">Esqueceu a senha?</a></p>
					</div>
				</div>
            </div>
	</div>
	<div class="left-side-bar" data-options="dxItem: {
		location: [{ 
			row: 1, 
			col: 0, 
			screen: 'lg' 
		}, { 
			row: 2, 
			col: 0, 
			screen: 'xs sm md' 
		}]
	}">
		<p>ccc</p>
	</div>
	<div class="right-side-bar" data-options="dxItem: {
		location: [{ 
			row: 1, 
			col: 2, screen: 'lg' 
		}, { 
			row: 2, 
			col: 1, 
			screen: 'xs sm md' }]
		}">
		<p>dd</p>
	</div>
	<div class="footer" data-options="dxItem: {
		location: [{ 
			row: 2, 
			col: 0, 
			colspan: 3, 
			screen: 'lg' 
		}, { 
			row: 3, 
			col: 0, 
			colspan: 2, 
			screen: 'xs sm md' }]
		}">
		<p>fff</p>
	</div>
</div>